# 실제 서비스 서버 설정
server:
  port: 8080

spring:
  config:
    activate:
      on-profile: prod # prod 프로필일 때만 이 설정 사용

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      # 서비스가 안정화되면 나중에 validate로 변경 예정
      ddl-auto: update
    show-sql: false