# ===================================================================
# [LOCAL 개발 환경 설정 가이드]
# 1. 이 파일을 복사하여 같은 폴더에 'application-local.yml' 이름을 가진 파일을 생성하세요.
# 2. 아래 설정에서 본인의 로컬 DB 정보(username, password 등)를 입력하세요.
# 3. 'application-local.yml' 파일은 .gitignore에 등록되어 Git에 올라가지 않습니다.
# ===================================================================

server:
  port: ${SERVER_PORT:8080}

spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
    show-sql: ${SPRING_JPA_SHOW_SQL:true}
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${OAUTH2_GOOGLE_CLIENT_ID}
            client-secret: ${OAUTH2_GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
          kakao:
            client-id: ${OAUTH2_KAKAO_CLIENT_ID}
            client-secret: ${OAUTH2_KAKAO_CLIENT_SECRET}
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            scope:
              - profile_nickname
              - account_email
            client-name: Kakao
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}

swagger:
  url: http://localhost:8080


# ===================================================================
# [참고] 로컬 실행 시 주의사항 (MySQL을 PC에 설치하지 않은 경우)
# - Docker가 켜져 있어야 DB 접속이 가능한 경우, Docker를 먼저 실행하세요.
# - 프로젝트 실행 시 Active Profile이 'local'로 잡히는지 확인하세요.
# - [구성 편집] 창에서 EnvFile 플러그인이 실행되고 있는지 + .env 파일이 플러그인에 잡히는지 확인하세요.
# ===================================================================