name: CI (Build & Test Check)

on:
  push:
    branches-ignore: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

permissions:
  contents: read

jobs:
  test-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      # 테스트 실행
      - name: Run Test with Gradle
        run: |
          chmod +x gradlew
          ./gradlew clean test