name: Deploy PROD (Main)

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew clean build -x test

      - name: Docker Build & Push
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker build -t ${{ secrets.DOCKER_REPO }} .
          docker push ${{ secrets.DOCKER_REPO }}

      # 운영 서버 배포 실행
      - name: Deploy to Prod Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            sudo docker stop greaming-prod || true
            sudo docker rm greaming-prod || true
            
            sudo docker pull ${{ secrets.DOCKER_REPO }}
            
            # 운영 서버 실행 
            sudo docker run -d -p 8080:8080 --name greaming-prod \
            -e TZ=Asia/Seoul \
            -e SPRING_PROFILES_ACTIVE=prod \
            -e SPRING_DATASOURCE_URL="${{ secrets.PROD_DB_URL }}" \
            -e SPRING_DATASOURCE_USERNAME="${{ secrets.RDS_USERNAME }}" \
            -e SPRING_DATASOURCE_PASSWORD="${{ secrets.RDS_PASSWORD }}" \
            ${{ secrets.DOCKER_REPO }}
            
            sudo docker image prune -f